@model IEnumerable<OfferType>
@{
}

<div class="text-capitalize text-center pb-2">
    <h1>Menu administrateur</h1>
</div>

<div class="text-center pb-2">
    <h2>Gestion type offres</h2>
</div>

<div class="pt-2 pb-2">
    <a asp-action="AddOfferType" asp-controller="AdminOfferType" class="btn btn-primary">
        Ajouter un type d'offre
    </a>
</div>




<table class="table table-striped my-2">
    <tr>
        <th>Type d'offre</th>
        <th>Nb personnes</th>
        <th>Action</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.OfferType_Name</td>
            <td>@category.OfferType_AllowedPerson</td>
            <td>
                <a asp-action="UpdateOfferType" asp-controller="AdminOfferType" asp-route-id="@category.OfferTypeId" class="btn btn-success">Editer</a>
                <a asp-action="DeleteOfferTypeConfirmation" asp-controller="AdminOfferType" asp-route-id="@category.OfferTypeId" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
    }
</table>





