@model OfferTypeDto
@{

}

<div class="text-capitalize text-center pb-2">
    <h1>Menu administrateur</h1>
</div>
<div class="text-center pb-2">
    <h2> Mettre à jour le type d'offre </h2>
</div>

<div style="width:50%">

    <form asp-action="UpdateOfferType">
        <input type="hidden" asp-for="OfferTypeDto_Id" />

        <div class="my-2">
            <label>Type d'offre</label>
            <input type="text" class="form-control" asp-for="OfferTypeDto_Name" />
            <span asp-validation-for="OfferTypeDto_Name" class="text-danger"></span>
        </div>
        <div class="my-2">
            <label>Nb personnes</label>
            <input type="number" class="form-control" asp-for="OfferTypeDto_AllowedPerson" />
            <span asp-validation-for="OfferTypeDto_AllowedPerson" class="text-danger"></span>
        </div>

        <div class="my-2">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>

    <div>
        <a asp-action="Index" asp-controller="AdminOfferType" class="btn btn-link">Retour</a>
    </div>


</div>
