@model CheckoutVM
@{
    ViewData["Title"] = "CheckoutPayment";
}

<div class="text-center col-md-6">


    <div class="alert alert-success" role="alert">
        Commande passée avec succès
    </div>
    @*  <h3>N° Commande @Model.Name </h3> *@

    <div class="my-5">
        <a class="btn btn-success" asp-controller="UserOrder" asp-action="UserOrders">Voir mes commandes</a>
    </div>

</div>
