@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation initialisation du mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe a été initialisé. Svp <a asp-page="./Login">cliquer ici pour vous connecter</a>.
</p>
